:root {
    --branco-principal: #CCCCCC;
    --cor-de-fundo: #FFFFFF;
    --cor-header: #7F5539;
    --cor-docie: #;
    --cor-bio: #2c8837;
    --fonte-principal: 'inter';
    --fonte-docie: 'Dancing Script';
}
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0077B6;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.banner img{
    max-width: 100%;
    max-height: 100%;
}

.banner_doces{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--cor-header);
    color: var(--branco-principal);
}
.banner_doces .content h1{
    margin: 0 0 0 0;
    padding: 0;
    font-size: 5em;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.banner_doces .content h2 {
    margin: 5px 0px 100px 0px;
    padding: 0;
    font-size: 2.50em;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.banner__bio{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-fundo);
    background-color: var(--cor-bio);
}
.section__bio{
    background-color: var(--cor-bio);
}
.banner__bio .content h1{
    margin: 30px 0 0 0;
    padding: 0;
    font-size: 5em;
    text-shadow: 0.1em 0.1em 0.2em black
}
.banner__bio .content h2 {
    margin: 5px 0px 90px 0px;
    padding: 0;
    font-size: 2.50em;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.section__doce{
    font-family: var(--fonte-docie);
    font-size: 20px;
    font-weight: 400;
}
.container {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.loja{
    /*Aqui fara parte da classe "container loja"(Arrumar)*/
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.bio{
    /*Aqui fara parte da classe "container bio"(Arrumar)*/

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;

}

.container__descricao_bio img{  /* tamanho max da imagem */
    width: 100%;
    margin: 20px 0px 10px 0px;
}

.social {
    /*Aqui fara parte da classe "container social"(Arrumar)*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2em;
    margin-top: 70px;
}
.logo__social img{
    max-width: 100px;
}

.container__descricao{
    padding: 2em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--verde-titulo);
    margin-bottom: 0.2em;
}
.container__descricao img{  /* tamanho max da imagem */
    max-width: 500px;
}
.descricao__texto{
    color: var(--cinza-secundario);
}

.rodape {
    background-color: var(--cinza-rodape);
    text-align: center;
    margin: 5em 0em 0em;
}
.rodape__logo{
    max-width:80px;
    max-height:80px;
    width: auto;
    height: auto;
}
.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    
}
.rodape__lista img{
    border-radius: 50%;
    max-width: 50%;
}
.footer__ceaa{
    background-color: black;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista__link a{
    text-decoration: none;
    color: var(--cinza-secundario);

}
.rodape__texto {
    margin: 1em 0em 0em;
    color: var(--cinza-secundario);
    font-size: 14px;
}
/*Efeitos links  pseudo classe*/
.lista__link a:hover{
    color: var(--botao-verde-claro);
}
.lista__link a:active{
    color: paleturquoise;
}

/* Responsividade do site*/
@media screen and (max-width:780px){

.banner{
    width: 100%;
}
.container__descricao img{  /* tamanho max da imagem */
    max-width: 90%;
}

.logo__social{
  display: grid;
  place-items: center; 
margin-top: 5px;
}
.logo__social img{
    width: 100%;

}


.rodape__lista{
    display: block;
    }
.rodape__logo{
margin-right: 15px;
    width: auto;
    height: auto;
    }
    .lista__link img{
        max-width: 30%;
        border-radius: 50%;
        margin-bottom: 20px;
    }

.banner img{
    display: block;
    width: 100%;
    height: 100%;
}

}